{% extends 'layout.html' %}
{% load staticfiles%}
{% block content %}
  <div class="lay">

      <div class="mypoint">
          <p>나의 포인트: 20190809 point(임시)</p>
      </div>
      
      <div class ="brands"> <!--브랜드 이미지 누르면 넘어가는 html 만들어야됨-->
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/베라.png'%}"  ></a><div class="brand_name"> 베스킨 라빈스</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/gs25.png'%}"  ></a><div class="brand_name"> GS25</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/세븐일레븐.png'%}"  ></a><div class="brand_name"> 세븐일레븐</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/cu.jpg'%}"  ></a><div class="brand_name"> CU</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/ediya.jpg'%}"  ></a><div class="brand_name">EDIYA COFFEE</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/STARBUCKS.jpg'%}"  ></a><div class="brand_name"> STARBUCKS COFFEE</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/파리바게트.png'%}"  ></a><div class="brand_name"> 파리바게트</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/투썸.png'%}"  ></a><div class="brand_name"> A Twosome Place</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/cgv.png'%}"  ></a><div class="brand_name">CGV</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/올리브영.jpg'%}"  ></a><div class="brand_name"> 올리브영</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/자드.png'%}"  ></a><div class="brand_name"> 자연드림</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/lalavla.png'%}"  ></a><div class="brand_name"> lalavla</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/입생.png'%}"  ></a><div class="brand_name"> 입생로랑</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/6365.png_860.png'%}"  ></a><div class="brand_name"> 베스킨 라빈스</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/6365.png_860.png'%}"  ></a><div class="brand_name"> 베스킨 라빈스</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/6365.png_860.png'%}"  ></a><div class="brand_name"> 베스킨 라빈스</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/6365.png_860.png'%}"  ></a><div class="brand_name"> 베스킨 라빈스</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/6365.png_860.png'%}"  ></a><div class="brand_name"> 베스킨 라빈스</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/6365.png_860.png'%}"  ></a><div class="brand_name"> 베스킨 라빈스</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/6365.png_860.png'%}"  ></a><div class="brand_name"> 베스킨 라빈스</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/6365.png_860.png'%}"  ></a><div class="brand_name"> 베스킨 라빈스</div></article>
          <article class="one_brand"><a type="button" href="{% url 'situation' %}"><img class="brand_img" src="{% static 'img/6365.png_860.png'%}"  ></a><div class="brand_name"> 베스킨 라빈스</div></article>
      </div>

  </div>
{% endblock %}