{% extends 'layout.html' %}
{% load staticfiles%}
{% block content %}

<div class="Quest_lay">

  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="mainn">
          <div class="col-lg-6">
            <!--봉사활동 내용-->
            <div class="about">
              <h4 class="adver">집도 따뜻 ! 마음도 따뜻 !</h4>
              <h1 class="name">연탄 나르기 봉사활동</h1>
              <h5 class="place">장소: oo ooo oooo oo ooo</h5>
              <div class="social_icons my-5">
                <!--**************************여기에 뭐가 들어가면 좋을지 상의해보기********-->
                <a href="#"><i class="ti-twitter"></i></a>
                <a href="#"><i class="ti-skype"></i></a>
                <a href="#"><i class="ti-instagram"></i></a>
                <a href="#"><i class="ti-dribbble"></i></a>
                <a href="#"><i class="ti-vimeo"></i></a>
              </div>
              <a class="primary_btn" href="#"><span>See My Work</span></a>
              <!--------------**********************여기도************-->
            </div>
          </div>
          <div class="betweennnnnnnnn"></div>
          <!--사진 배열 밀리기위해 일부러함 상관 X-->
          <div class="col-lg-4">

            <img class="quest_what_img" src="{% static 'img/연탄.jpg'%}" alt="">

          </div>
        </div>
      </div>
    </div>

  </section>
  <!--================ End Home Banner Area =================-->

  <!--================ Start Statistics Area =================-->

  <div class="detail_1">
    <!--참여 가능한 레벨-->

    <div class="term">
      <h3><span class="counter"></span>LV.1 이상</h3>
      <p>참여 가능 레벨</p>
    </div>

    <!--예상 소요시간  -->

    <div class="term">
      <h3><span class="counter"></span>3 hours</h3>
      <p>예상 소요시간</p>
    </div>

    <!--제공 포인트  -->

    <div class="term">
      <h3><span class="counter"></span>170 POINT</h3>
      <p>제공 포인트</p>
    </div>
  </div>
</div>
{% endblock %}