.minimg {
    height: 30px;
    width:30px;
}

.spage{
    width: 100% ; 
    height: 1000px;
    margin-top: 80px;
}



/*퀘스트 봉사 등록 */
.Qlist{
    width:1000px;
    height: 100%;
    padding: 20px  40px;
    display: inline-block;
    margin:auto;
}

.lay{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
}
.ccard{
    display: inline-table;
    width: 200px;
    
}
.Qcard {
    display:flex;
    flex-direction: column;
    padding: 5px;
    width: 210px;
    height: 330px;
    margin: 5px 5px;
    border: 1px solid;
    box-sizing: border-box;
    text-align: center;
    
}
.Qcard-img-top{
    width: 140px;
    height: 80px;
    margin-left:auto;
    margin-right: auto;
    display: block;
}
.Qcard-body{
    flex: 1 1 auto;
    padding: 1px;
    height: 150px;
}
.Qcard-title{
    margin-bottom: 0.5px;
}


/* 브랜드페이지 -브랜드*/

.mypoint{
    height: 80px ;
    width: 1000px;
    background-color: blueviolet;
    margin-bottom: 80px;
    margin-left: 180px;
    font-size: 8mm;
    color: bisque;

}

.brands{
    width: 892px;
    height: 502px;
    padding: 10px;
    margin-left: 240px;
    margin-right: 10px;
}

.brand_img{
    width: 72px ;
    height: 72px;
    margin: 3px 3px 0px 3px;
   
}

.brand_name{
    width: 83px;
    height: flex;
    font-size: 15px;
    margin-bottom: 0px;
    text-align: center;
    display: inline-flex;
}

.one_brand{
    width:83px;
    height:140px ;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 20px;
}

/* goods 페이지 상품선택창*/
.goods_price{
    width: 70px;
    height: 10px;
    font-size: 10px;
    margin-top: 0px;
    text-align: center;
    display: inline-flex;
}

/* point 페이지 결제완료창*/
.alert{
    width: 700px;
    height: 300px ;
    background-color: gray;
    /* border: yellowgreen !important ; */
    text-align: center;
    font-size: 30px;
    margin: 100px 200px 300px 400px;

}

/*-------------------------------------------다혜------------------------------------------------------*/
/* 메인_소개 */

.about{
    width: 100%;
    height: 160px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about_container1{
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
}

.introduce_main{
    display: inline-block;
}

.introduce_page{
    text-align: center;
    margin: 10%;
}

.about_container2{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.about_introduce{
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
}

/* 로그인 */

.login_form{
    text-align: center;
}

/* 회원가입 선택창 */

.select{
    display: grid;
    text-align: center;
    grid-template-columns:50% 50%;
    grid-template-rows: 100% 100%;
    margin-top: 50px;
}


/* 기업 회원가입 */

.organ_signup_form{
    text-align: center;
}

/* 일반 회원가입 */

.user_signup_form{
    text-align: center;
}

/* 개인정보수정 */

.modify_button{
    text-align: right;
}
/* 나의현황 */

.situation_content{
    display: grid;
    grid-template-columns: 50% 50%;
}

.sit_profile{
    margin: 10px;
}

.myprofile{
    border: 1px solid rgba(0, 0, 0, 0.123);
    position: relative;
}

.sit_mypro_h1{
    color: blueviolet;
    font-size: 30px;
    position: relative; z-index: 2;
    bottom: -20px;
}

.sit_action{
    margin: 10px;
}

.sit_act{
    border: 1px solid rgba(0, 0, 0, 0.123);
    position: relative;
}

.sit_mypro_h2{
    color: blueviolet;
    font-size: 30px;
    position: relative; z-index: 2;
    bottom: -20px;
}

/* 결제완료창(point) */

.point_article{
    width: 100%;
    height: 30%;
    text-align: center;
}

.point{
    width: 100%;
    height: 100%;
    margin-top: 90px;
}